{% extends 'index.html' %}

{% block mainblock %}

{{error}}
    <form method="post" onload="load()">
        <input type="submit">
        <input type="button" onclick="add_unit()" value="Add unit" id="afterbuttons">
        <label for="file">Insert File</label>
        <input id="file" type="text" name="file" required>
        <table id="table">
            
        </table>
    </form>

    <template id="row">
        <tr class="rows">
            <td id="change"></td>
            {% for key in basis %}
            <td><label for="{{basis[key]['KEY']}}">{{basis[key]['KEY']}}</label>
                {% if basis[key]['TYPE'] in ['Int', 'String'] %}
                <input {% if basis[key]['TYPE']  == 'Int' %} type="number"
                    {% elif basis[key]['TYPE'] == 'String' %} type="text"
                    {% endif %}
                    {% if 'REQUIRED' in basis[key] %} required 
                    {% endif %} 
                id="{{basis[key]['KEY']}}" name="{{basis[key]['KEY']}}">
                {% elif basis[key]['TYPE'] | is_enum %}
                <select id="{{basis[key]['TYPE'].__name__}}" name="{{basis[key]['TYPE'].__name__}}">
                {% for choice in basis[key]['TYPE'] %}
                    <option value="{{choice.name}}">{{choice.name}}</option>
                {% endfor %}
                {{basis[key]['TYPE'].value}}
                </select>
                {% elif basis[key]['TYPE'] == "List" %}
                    <div id="{{basis[key]['KEY']}}">
                        <input name="{{basis[key]['KEY']}}[]" id="{{basis[key]['KEY']}}1" type="text">
                    </div>
                    <button type="button" name="{{basis[key]['KEY']}}">Add</button>
                {% elif basis[key]['TYPE'] == "Dictionary" %}
                    {% for sub_key in basis[key] %}
                        {% if sub_key not in ['KEY', 'TYPE', 'Button', 'GENERATE'] %}
                        <label for="{{basis[key]['KEY']}}-{{basis[key][sub_key]['KEY']}}">{{basis[key][sub_key]['KEY']}}</label>
                        <input name="{{basis[key]['KEY']}}-{{basis[key][sub_key]['KEY']}}" id="{{basis[key]['KEY']}}-{{basis[key][sub_key]['KEY']}}"
                            {% if basis[key][sub_key]['TYPE']  == 'Int' %} type="number"
                            {% elif basis[key][sub_key]['TYPE'] == 'String' %} type="text"
                            {% endif %}
                            {% if 'REQUIRED' in basis[key][sub_key] %} required 
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                {% elif basis[key]['TYPE'] == 'Object' %}
                <!-- Is some sort of object -->
                    {% for sub_key in basis[key] %}
                        <label for="{{basis[key]['KEY']}}-{{basis[key][sub_key]['KEY']}}">{{basis[key][sub_key]['KEY']}}</label>
                        {% if basis[key][sub_key]['TYPE'] in ['Int', 'String'] %}
                        <input {% if basis[key][sub_key]['TYPE']  == 'Int' %} type="number"
                            {% elif basis[key][sub_key]['TYPE'] == 'String' %} type="text"
                            {% endif %}
                        id="{{basis[key]['KEY']}}-{{basis[key][sub_key]['KEY']}}" name="{{basis[key]['KEY']}}-{{basis[key][sub_key]['KEY']}}">
                        {% elif basis[key][sub_key]['TYPE'] | is_enum %}
                            <select id="{{basis[key]['KEY']}}-{{basis[key][sub_key]['TYPE'].__name__}}" name="{{basis[key]['KEY']}}-{{basis[key][sub_key]['TYPE'].__name__}}">
                            {% for choice in basis[key][sub_key]['TYPE'] %}
                                <option value="{{choice.name}}">{{choice.name}}</option>
                            {% endfor %}
                            {{basis[key][sub_key]['TYPE'].value}}
                            </select>
                        
                        {% elif basis[key][sub_key]['TYPE'] == 'Object' %}
                            {% for tertiary in basis[key][sub_key] %}
                                <label for="{{basis[key][sub_key][tertiary]['KEY']}}">{{basis[key][sub_key][tertiary]['KEY']}}</label>
                                {% if basis[key][sub_key][tertiary]['TYPE'] in ['Int', 'String'] %}
                                <input {% if basis[key][sub_key][tertiary]['TYPE']  == 'Int' %} type="number"
                                    {% elif basis[key][sub_key][tertiary]['TYPE'] == 'String' %} type="text"
                                    {% endif %}
                                id="{{basis[key][sub_key][tertiary]['KEY']}}" name="{{basis[key][sub_key][tertiary]['KEY']}}">
                                {% elif basis[key][sub_key][tertiary]['TYPE'] | is_enum %}
                                    <select id="{{basis[key][sub_key]['KEY']}}-{{basis[key][sub_key][tertiary]['KEY']}}-{{basis[key][sub_key][tertiary]['TYPE'].__name__}}" name="{{basis[key][sub_key]['KEY']}}-{{basis[key][sub_key][tertiary]['KEY']}}-{{basis[key][sub_key][tertiary]['TYPE'].__name__}}">
                                    {% for choice in basis[key][sub_key][tertiary]['TYPE'] %}
                                        <option value="{{choice.name}}">{{choice.name}}</option>
                                    {% endfor %}
                                {{basis[key][sub_key][tertiary]['TYPE'].value}}
                                </select>
                                {% endif %}
                            {% endfor %}
                        {% endif %} 
                    {% endfor %}
                {% endif %}

            </td>
            {% endfor %}
        </tr>
    </template>
<script>
    var count = 0;
    var data = {{data | tojson}};
    var temp = "1";
    function load()
    {
        add_unit();
        if (data === null)
            return;
        while ("unit"+count+":Name" in data)
        {
            add_unit();
        }
        for (key in data)
        {
            if (key.includes('[]'))
            {
                
                var sub = key.substring(0, key.length - 2);
                for (value in data[key])
                {
                    var element = document.getElementById(sub+temp);
                    element.value = data[key][value];
                    temp += "1";
                    if (value < data[key].length - 1)
                    {
                        add_form(sub, temp.length);
                    }
                }
                temp = "1"
             
            }
            else 
            {
                var find_element = document.getElementById(key);
                find_element.value = data[key];
            }
        }
    }
    function add_form(element, count=1)
    {
        var arg = document.getElementById(element);
        var newtag = document.createElement('input');
        newtag.type = "text";
        newtag.name = element+"[]";
        var temp = "1".repeat(count);
        newtag.id = arg.id + temp;
        arg.appendChild(newtag);
    }

    function add_unit()
    {
        var to_add = document.getElementById("table");
        var template_var = document.getElementById("row");
        var clone = template_var.content.cloneNode(true);
        clone.id = "unit"+count+":"+clone.id;
        let collection = clone.querySelectorAll("input");
        for (let i = 0; i < collection.length; i++)
        {
            collection[i].id = "unit"+count+":"+collection[i].id;
            collection[i].name = "unit"+count+":"+collection[i].name;
        }

        let collection2 = clone.querySelectorAll("select");
        for (let i = 0; i < collection2.length; i++)
        {
            collection2[i].id = "unit"+count+":"+collection2[i].id;
            collection2[i].name = "unit"+count+":"+collection2[i].name;
        }

        let collection4 = clone.querySelectorAll("div");
        for (let i = 0; i < collection4.length; i++)
        {
            collection4[i].id = "unit"+count+":"+collection4[i].id;
        }

        let collection3 = clone.querySelectorAll("button");
        for (let i = 0; i < collection3.length; i++)
        {
            collection3[i].id = "unit"+count+":"+collection3[i].id;
            collection3[i].name = "unit"+count+":"+collection3[i].name;
            collection3[i].addEventListener("click", function() {add_form(collection3[i].name)});
        }
        let row = clone.querySelectorAll('tr');
        for (let i = 0; i < row.length; i++)
        {
            row[i].id = "unit"+count;
        }
        var toggle_button = document.createElement("button");
        toggle_button.innerHTML = "unit"+count;
        //toggle_button.addEventListener("onclick", toggle("unit"+count));
        to_add.appendChild(clone);
        var str = "<button type='button' onclick=toggle('unit"+count+"')>unit"+count+"</button>";
        document.getElementById("table").insertAdjacentHTML("beforebegin", str);
        document.getElementById("unit"+count).insertAdjacentHTML("afterBegin", "<td>unit"+count+"</td>");
        
        
        count += 1;
    }
    function toggle(element)
    {
        var t = document.getElementById(element);
        if (t.style.display === "none")
        {
            t.style.display = "block";   
        }
        else {
            t.style.display = "none";
        }
    }
    window.onload = load;
</script>
{% endblock %}